{% load static %}
<html >
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
				<li><a href="/about" class="active">Обо мне</a></li>

			</ul>
		</div>
        <div class="inside">
        <h2>Обо мне</h2>
        <p>Ссылки на мои соцсети:</p>
        <ul>Telegram</ul>
        <ul>Instagram</ul>
        <ul>gitHub</ul>
        </div>


	</div>

	<div id="footer">
		<p class="copy right">Copyright &copy;  2023 </p>
	</div>
</div>
</body>
</html>